@charset "UTF-8";

body{
    background: goldenrod;
    font: normal 15pt Arial;
}

header{
    color: rgb(255, 254, 254);
    text-align: center;
}

header h1{
    text-shadow: 1px 2px 1px rgba(78, 78, 78, 0.753);
}

section{
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}


div {
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
}